header {
    background: #ffffff;
}
a:visited {
    color: #424242;
    text-decoration: none;
}
a:link {
    color: #424242;
    text-decoration: none;
}
a {
    font-weight: bold;
}
button {
    font-weight: bold;
    color: #FFB800;
    border-color: #FFB800;
    background-color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 2px #FFB800;
  }
main {
    padding: 150px;
    background-color: #FCCD23;
    text-align: center;
}
