header {
    background: #ffffff;
    margin-top: 20px;
}
header img{
margin-bottom: 5px;
}
a:visited {
    color: #424242;
    text-decoration: none;
}
a:link {
    color: #424242;
    text-decoration: none;
}
header a{
    font-weight: bold;
}

#discount button {
border: none;
color:#F17228 ;
background-color:#ffd6be;
font-weight: bold; 
border-radius: 7px;
}
#hero {
padding: 150px;
background: linear-gradient(#faba19, #e0a81b);
}
#hero h1{
font-weight: bold; 
color: #ffffff;
font-size:80px;
text-align: left;
}
#hero h2{
font-size:25px;
text-align: left;
}
#hero .card{
border-radius: 20px;
padding: 10px;
text-align: left;
}
#logo {
font-size: 28px; 
background: linear-gradient(to right, #F17228 50%, #FFB30E 50%); 
background-clip: text;  
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#deliver{
margin-top:10px;
font-size:15px;
}
#login{
margin-left:20px; 
box-shadow: 1.5px 1.5px 2px 1.5px #FFB800;
font-weight: bold;
color: #FFB800;
border-color: #FFB800;
background-color: #ffffff;
padding: 10px 30px;
text-align: center;
font-size: 16px;
cursor: pointer;
border-radius: 10px;
border: none;
}
#orange {
width:150px;
border: none;
color:#F17228 ;
background-color:#ffd6be;
font-weight: bold; 
border-radius: 7px;
}
#white {
border: none;
width:150px;
margin-left: 100px; 
font-weight: bold; 
border-radius: 7px;
}
#discount p{
font-weight: bold; 
}
/* nie działa scalowanie prawie całego carda */
#hero input{
width: 400px;
}

#find{
border: none;
color:#ffffff; 
width: 150px; 
padding:12px; 
font-weight: bold; 
background-color:#FF7A7A; 
border-radius: 10px;
margin-left: 100px; 
}
@media (min-width: 1000px) {
    #hero img{
        width: 660px; 
        position: absolute;
        top:297px;
    }
}
@media (max-width: 1500px) {
    #hero img{
        display:none;
    }
}
#discount .card{
border:none;
}
#discount img{
border-radius: 15px;
}
#discount {
margin-top: 40px; 
margin-left: 180px;
margin-right: 180px;
}
#tutorial {
background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
padding: 150px;
text-align: center;
}
#tutorial h2{
color: #F17228;
font-weight: bold;
margin-bottom: 80px;
font-size: 43px;
}
#tutorial .upper_text{
font-weight: bold;
color: #434343;
}
#tutorial .bottom_text{
color: #9E9E9E;
}
#popular_items {
text-align: center;
}
#popular_items h2{
font-size: 43px;
font-weight: bold;
margin-bottom: 80px;
}
#popular_items .card{
border: none;
text-align: left;
}
#popular_items img{
border-radius: 15px;
}
#popular_items button{
align-items: center;
background-color:#F17228;
color:white;
padding: 21px 83px;
border-radius:8px ;
font-weight: bold;
display: block;
width: 100%;
}
#popular_items .czarne{
font-weight: bold;
}
#popular_items .zlote{
color: #FFB30E;
}
#featured .card{
border: none;
text-align: left;
}
#featured h2{
font-size: 43px;
font-weight: bold;
margin-bottom: 80px; 
margin-top: 80px;   
}
#featured{
text-align: center;
margin-top: 40px; 
margin-left: 180px;
margin-right: 180px;
}
#featured .obraz{
border-radius: 15px;
}
#featured .tomorrow{
border: none;
color:#F17228 ;
background-color:#ffd6be;
font-weight: bold; 
border-radius: 13px;  
}
#featured .czarne{
font-weight: bold;
}
#featured .ikonka{
width:50px;
height: 50px;
}
#featured .now{
border: none;
color:#79B93C ;
background-color:#daf0c6;
font-weight: bold; 
border-radius: 13px;  
}
.footer {
width: 100%;
position: relative;
height: auto;
background-color: #212121;
}
.footer .col {
width: 190px;
height: auto;
float: left;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
padding: 0px 20px 20px 20px;
}
.footer .whiteh1 {
font-size: 16px;
padding: 20px 0px 5px 0px;
color: #ffffff;
font-weight: normal;
font-weight: bold;
}
.footer .col ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.footer .col ul li {
color: #999999;
font-size: 14px;
font-family: inherit;
font-weight: bold;
padding: 5px 0px 5px 0px;
cursor: pointer;
transition: .2s;
-webkit-transition: .2s;
-moz-transition: .2s;
}
.social ul li {
display: inline-block;
padding-right: 5px !important;
}
.footer .col ul li:hover {
color: #ffffff;
transition: .1s;
-webkit-transition: .1s;
-moz-transition: .1s;
}
.clearfix {
clear: both;
}
  @media only screen and (min-width: 1280px) {
    .container {
      width: 1900px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .container .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
  .footer .text{
      background-color: #424242;
      color:#ADADAD;
      border-radius: 7px;
      padding:15px;
  }
.social button{
    border: none;
    font-weight: bold; 
    border-radius: 7px;
    background-color: #FFB800;
    box-shadow: 1px 4px 7px rgba(220, 150, 0, 0.20), 0px 14px 32px rgba(255, 150, 15, 0.20);
    color:#ffffff;
    padding: 15px;
    width: 120px;
    margin-left: 15px;
}
.footer p{
color: #999999;
font-size: 12px;
font-family: inherit;
font-weight: bold;
padding: 5px 0px 5px 0px;
cursor: pointer;
transition: .2s;
-webkit-transition: .2s;
-moz-transition: .2s;
}
#view{
    border: none;
    font-weight: bold; 
    border-radius: 9px;
    background-color: #FFB800;
    box-shadow: 1px 4px 7px rgba(220, 150, 0, 0.20), 0px 14px 32px rgba(255, 150, 15, 0.20);
    color:#ffffff;
    padding: 15px;
    width: 180px;
}
.footer .container-fluid {
margin-left: 5%;
}
#byfood {
background-color: #FEFAF1;
}
#byfood .container-fluid{
padding: 100px;
}
#byfood .opis{
font-weight: bold;
color: #212121;
text-align: center;
}
#byfood #napis{
color: #FFB30E;  
}
#byfood .strzalki{
margin-top: 20px;
}
#byfood .obrazek{
border-radius: 150px;
}
#byfood h2{
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 80px;
}
#dodatki {
    background-color: #FEEFD0;
    padding: 150px;
}
#dodatki .card{
width: 80%;
margin-left: 10%;
border-radius: 30px;
padding: 30px;
}
#dodatki .zawartosc{
font-size: 28px;
font-weight: bold;
background: linear-gradient(to right, #F17228, #FFB30E); 
background-clip: text;  
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 15px;
}
#nadfooter{
    background-image: url(img/Imagebgimage.png);
    text-align: center;
    padding: 100px;
}
#nadfooter h2{
    font-weight: bold; 
    color: #ffffff;
    font-size:50px;
    text-align: center;
}
#nadfooter button{
    border: none;
    font-weight: bold; 
    border-radius: 7px;
    background-color: #F17228;
    color:#ffffff;
    padding: 15px;
}