header {
    background: #ffffff;
    margin-top: 20px;
}
header img{
margin-bottom: 5px;
}
a:visited {
    color: #424242;
    text-decoration: none;
}
a:link {
    color: #424242;
    text-decoration: none;
}
header a{
    font-weight: bold;
}

#discount button {
border: none;
color:#F17228 ;
background-color:#ffd6be;
font-weight: bold; 
border-radius: 7px;
}
#hero {
padding: 150px;
background: linear-gradient(#faba19, #e0a81b);
}
#hero h1{
font-weight: bold; 
color: #ffffff;
font-size:80px;
text-align: left;
}
#hero h2{
font-size:25px;
text-align: left;
}
#hero .card{
border-radius: 20px;
padding: 10px;
text-align: left;
}
#logo {
font-size: 28px; 
background: linear-gradient(to right, #F17228 50%, #FFB30E 50%); 
background-clip: text;  
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#deliver{
margin-top:10px;
font-size:15px;
}
#login{
margin-left:20px; 
box-shadow: 1.5px 1.5px 2px 1.5px #FFB800;
font-weight: bold;
color: #FFB800;
border-color: #FFB800;
background-color: #ffffff;
padding: 10px 30px;
text-align: center;
font-size: 16px;
cursor: pointer;
border-radius: 10px;
border: none;
}
#orange {
width:150px;
border: none;
color:#F17228 ;
background-color:#ffd6be;
font-weight: bold; 
border-radius: 7px;
}
#white {
border: none;
width:150px;
margin-left: 100px; 
font-weight: bold; 
border-radius: 7px;
}
#discount p{
font-weight: bold; 
}
/* nie działa scalowanie prawie całego carda */
#hero input{
width: 400px;
}

#find{
border: none;
color:#ffffff; 
width: 150px; 
padding:12px; 
font-weight: bold; 
background-color:#FF7A7A; 
border-radius: 10px;
margin-left: 100px; 
}
@media (min-width: 1000px) {
    #hero img{
        width: 660px; 
        position: absolute;
        top:297px;
    }
}
@media (max-width: 1500px) {
    #hero img{
        display:none;
    }
}
#discount .card{
border:none;
}
#discount img{
border-radius: 15px;
}
#discount {
margin-top: 40px; 
margin-left: 100px;
margin-right: 100px;
}
#tutorial {
background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
padding: 150px;
text-align: center;
}
#tutorial h2{
color: #F17228;
font-weight: bold;
margin-bottom: 80px;
font-size: 43px;
}
#tutorial .upper_text{
font-weight: bold;
color: #434343;
}
#tutorial .bottom_text{
color: #9E9E9E;
}
#popular_items {
text-align: center;
}
#popular_items h2{
font-size: 43px;
font-weight: bold;
margin-bottom: 80px;
}